@model Product 

<div class="col-sm-4 col-md-4 col-lg-4">
    <div class="img-thumbnail">
        <img src="@("~/Images/"+ Model.ImagePath)" asp-append-version="true" width="250" height="250">

        <div class="caption">
            <h4><a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId">@Model.ProductName</a></h4>
            <h5 class="pull-right">&#8358; @Model.Price</h5>
            <p>@Model.ShortDesc</p>
        </div>
    </div>
</div>