@model IEnumerable<EStore.Controllers.Posted> 
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>User Id</th>
            <th>title</th>
            <th>body</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.userId</td>
                <td>@item.title</td>
                <td>@item.body</td>
            </tr>
        }
    </tbody>
</table>
